<div class="containerX">
  <div fxLayout="row" class="coloredContainerX box">
    <div fxFlex="25"> 
      <img src="http://s.afl.com.au/staticfile/AFL%20Tenant/Carlton/Player%20Profiles/2017%20-%20Profiles/MURPHY%20Marc.png" >
    </div>
    <div fxFlex="25"> Player Stats </div>
    <div fxFlex> Player Alerts </div>
  </div>
  <div fxLayout="row" class="coloredContainerX box">
    <div fxFlex.gt-sm="100" fxFlex="100"> Player Timeline </div>
  </div>
  <div fxLayout="row" class="coloredContainerX box">
    <div fxFlex> Word Cloud </div>
    <div fxFlex> Alerts </div>
    <div fxFlex> Video </div>
  </div>

</div>
