md-grid-tile {
    margin: 5px;
}

.example-card {
  width: 400px;
}

div.coloredContainerX > div {
  height: 225px !important;
}

div.coloredContainerX > div > img {
  height: 100%;
  width: auto;
}