<form class="example-form">
  <md-input-container class="example-full-width">
      <input mdInput placeholder="Username">
    </md-input-container>
    <md-input-container class="example-full-width">
      <input mdInput placeholder="Password">
    </md-input-container>
    <button md-raised-button>Login</button>
</form>
