<!--The whole content below can be removed with the new code.-->
<md-toolbar color="primary">
  <button md-icon-button>
                <md-icon class="md-24"  (click)="sidenav.toggle()" >menu</md-icon>
            </button>
  <span>[Insert Name Here]</span>
</md-toolbar>
<!-- <md-progress-bar mode="indeterminate"></md-progress-bar> -->
<md-sidenav-container>
  <md-sidenav #sidenav mode="side" [opened]="isOpened" class="app-sidenav">
    <md-nav-list>
      <a md-list-item routerLink="/home" routerLinkActive="active">Home</a>
      <a md-list-item routerLink="/dashboard">Dashboards</a>
      <a md-list-item routerLink="/player">Players</a>
      <a md-list-item routerLink="/physio">Physio</a>
      <a md-list-item routerLink="/data">Data</a>
      <a md-list-item routerLink="/admin">Admin</a>
    </md-nav-list>
  </md-sidenav>
  <div class="app-content">
    <router-outlet></router-outlet>
  </div>
</md-sidenav-container>
