<div *ngIf="ready">
<form>

    <md-input-container style="margin: 20px;">
      <input mdInput [(ngModel)]="input" name="search" style="width: 40%;" placeholder="Search">
    </md-input-container>
  </form>

  <div class='md-padding' layout="row" flex layout-wrap>

    <md-card style="width: 200px;" *ngFor="let player of players | filter:input" class="player-card" (click)="onClick(player.id)">
      <md-card-header>
        <div md-card-avatar class="example-header-image"></div>
        <md-card-title>{{player.name}}</md-card-title>
        <md-card-subtitle>{{player.number}}</md-card-subtitle>
      </md-card-header>
      <!-- <img md-card-image src="assets/img/examples/shiba2.jpg"> -->
      <md-card-content>
        <p>

        </p>
      </md-card-content>
    </md-card>

  </div>
</div>