
.player-card {
    cursor: pointer;
    display: inline-block;
    margin: 20px;
    vertical-align: top;
    width: 150px;
}

.md-padding
{
    display: flex;
    flex-wrap: wrap;
    
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.wrapper {
    background-color: white;
    min-height: 600px;
}

.styled-iframe {
    
}