<h1>Dashboards</h1>

<div class='md-padding' layout="row" flex layout-wrap>

  <md-card style="width: 200px;" *ngFor="let category of categories" class="player-card" (click)="onClick(category.uri)">
    <md-card-header>
      <div md-card-avatar class="example-header-image"></div>
      <md-card-title>{{category.category}}</md-card-title>
      <md-card-subtitle>Description</md-card-subtitle>
    </md-card-header>
    <!-- <img md-card-image src="assets/img/examples/shiba2.jpg"> -->
    <md-card-content>
      <p>

      </p>
    </md-card-content>
  </md-card>

</div>

<iframe class="styled-iframe" frameBorder="0" *ngIf="tableauUrl" width="100%" height="1080" [src]="tableauUrl | safe"></iframe>