<div class="containerX">
  <div fxLayout="row">
    <div fxFlex="30%">
        <img-map
            #imgMap
            src="../../assets/images/body.png"
            [markers]="markers"
            (change)="onChange($event)" 
        ></img-map>
    </div>
    <div fxFlex="">
      <div fxLayout="row">
        <div fxFlex="">  
          <md-list *ngIf="playerDetail">
            <h3 md-subheader>{{ currentMarker }}</h3>
            <md-list-item mdRippleColor="#F00" md-ripple *ngFor="let detail of playerDetail">
                <md-icon md-list-icon>keyboard_arrow_right</md-icon>
                <h4 md-line><a md-button (click)="onDetailOneClick(detail.id, detail.name)">{{detail.name}}</a></h4>
            </md-list-item>
            <md-divider></md-divider>
          </md-list>
        </div>
         <div fxFlex="">
            <md-list *ngIf="currentPlayerDetail && currentMarker">
            <h3 md-subheader>Info - {{ currentPlayerDetail }}</h3>
            <md-list-item *ngFor="let detailAdd of playerAddDetail">
              <!-- <md-icon md-list-icon>keyboard_arrow_right</md-icon> -->
              <h4 md-line>{{detailAdd.info}}</h4>
            </md-list-item>
            <md-divider></md-divider>
          </md-list>  
         </div>
    </div>
  </div>
</div> 