canvas {
      user-drag: none; 
      user-select: none;
      -moz-user-select: none;
      -webkit-user-drag: none;
      -webkit-user-select: none;
      -ms-user-select: none;
}
.containerX {
      border: none!important;
}
.mat-button {
      font-size: 20px;
      width: 100%;
      text-align: left;
}
.mat-subheader, h4 {
      font-size:20px!important;
}