<h1>Data</h1>

<md-tab-group>
  <md-tab label="View">
    <md-card>
      <div fxLayout="row">
        <div fxFlex="10">
          <md-nav-list *ngIf="tables">
            <h3 md-subheader>Core Tables</h3>
            <md-list-item class="app-hover" *ngFor="let table of tables" (click)="onShowTable()"> {{table.label}} </md-list-item>
          </md-nav-list>
        </div>
        <div fxFlex="10">
          <md-nav-list *ngIf="tables">
            <h3 md-subheader>Custom Tables</h3>
            <md-list-item class="app-hover" *ngFor="let table of tables" (click)="onShowTable()"> {{table.label}} </md-list-item>
          </md-nav-list>
        </div>
      </div>
    </md-card>

    <div [hidden]="hideTable">
    <md-card >
      <div class="example-container mat-elevation-z8">
        <md-table #table [dataSource]="dataSource">

          <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

          <!-- ID Column -->
          <ng-container cdkColumnDef="userId">
            <md-header-cell *cdkHeaderCellDef> ID </md-header-cell>
            <md-cell *cdkCellDef="let row"> {{row.id}} </md-cell>
          </ng-container>

          <!-- Progress Column -->
          <ng-container cdkColumnDef="progress">
            <md-header-cell *cdkHeaderCellDef> Progress </md-header-cell>
            <md-cell *cdkCellDef="let row"> {{row.progress}}% </md-cell>
          </ng-container>

          <!-- Name Column -->
          <ng-container cdkColumnDef="userName">
            <md-header-cell *cdkHeaderCellDef> Name </md-header-cell>
            <md-cell *cdkCellDef="let row"> {{row.name}} </md-cell>
          </ng-container>

          <!-- Color Column -->
          <ng-container cdkColumnDef="color">
            <md-header-cell *cdkHeaderCellDef>Color</md-header-cell>
            <md-cell *cdkCellDef="let row" [style.color]="row.color"> {{row.color}} </md-cell>
          </ng-container>

          <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
          <md-row *cdkRowDef="let row; columns: displayedColumns;"></md-row>
        </md-table>
      </div>
    </md-card>
    </div>

  </md-tab>
  <md-tab label="Maintain">Maintain</md-tab>
  <md-tab label="Config">Config</md-tab>
</md-tab-group>
