/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body {
  
  background: lightgray;
  font-family: Roboto,"Helvetica Neue",sans-serif;
}

html, body, material-app, md-sidenav-container, .my-content {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

md-sidenav {
  min-width: 260px !important; 
}

.app-content {
  margin: 20px;
}

.containerX {
  border: solid 1px #b6b6b6;
  box-sizing: content-box !important;
}
div.coloredContainerX > div, div.colorNested > div > div {
  padding: 8px;
  box-shadow: 0px 2px 5px 0 rgba(52, 47, 51, 0.63);
  opacity: 0.9;
  color: #fff;
  text-align: center;
}

div.coloredContainerX > div:nth-child(1), div.colorNested > div > div:nth-child(1), div.box1 {
  background-color: #009688;
}

div.coloredContainerX > div:nth-child(2), div.colorNested > div > div:nth-child(2), div.box2 {
  background-color: #3949ab;
}

div.coloredContainerX > div:nth-child(3), div.coloredChildren > div:nth-child(3), div.colorNested > div > div:nth-child(3), div.box3 {
  background-color: #9c27b0;
}

div.coloredContainerX > div:nth-child(4), div.coloredChildren > div:nth-child(4), div.colorNested > div > div:nth-child(4) {
  background-color: #b08752;
}

div.coloredContainerX > div:nth-child(5), div.coloredChildren > div:nth-child(5), div.colorNested > div > div:nth-child(5) {
  background-color: #5ca6b0;
}

.app-hover {
    cursor: pointer;
}
/*
@media (max-height:899px) {
  .app-content {
    min-height: 600px;
  }
}

@media (min-height: 900px) {
  .app-content {
    min-height: 800px;
  }
}
*/