<div class="containerX">
  <div fxLayout="row">
    <h1>Welcome, {{userName}}</h1>
  </div>
  <div fxLayout="row">
    <div fxFlex>
      <div *ngFor="let alert of alerts" fxFlex>
        <md-card (click)="onClick(alert.id)" class="example-card app-hover">
          <md-card-header>
            <md-card-title>
              <h1><span><md-icon>home</md-icon></span> {{alert.header}}</h1>
            </md-card-title>
          </md-card-header>
          <md-card-content>
            <p>
              {{alert.message}}
            </p>
          </md-card-content>
        </md-card>
      </div>
    </div>
  </div>
  <div fxLayout="row" class="coloredContainerX box">
    <div fxFlex.gt-sm="100" fxFlex="100"> Player Timeline </div>
  </div>
  <div fxLayout="row" class="coloredContainerX box">
    <div fxFlex> Word Cloud </div>
    <div fxFlex> Alerts </div>
    <div fxFlex> Video </div>
  </div>
</div>
